{{> partials/header nav="meme_list"}}
<div class="container">
  {{#if user}}
    <div class="row">
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#newMeme" id="newMemeBtn">
        New Meme
      </button>
    </div><br>
  {{/if}}
  <div class="row" style="overflow-x: auto">
    <table class="table table table-responsive table-hover table-striped table-bordered">
      <thead>
        <th>Meme</th>
        <th>Name</th>
        <th>Pewds Ep no.</th>
        <th>Pewds Ep url</th>
        <th>Pewds Rating</th>
      </thead>
      <tbody>
        {{#if memes}}
          {{#forEach memes}}
            <tr>
              <td><img src="{{image_urls.img_url_small_square}}" style="max-height: 50px"></td>
              <td>{{name}}</td>
              <td>{{meme_review.meme_review_episode_num}}</td>
              <td><a href="{{meme_review.meme_review_episode_num}}">{{meme_review.meme_review_episode_url}}</a></td>
              <td>{{pewds_rating}}</a></td>
            </tr>
          {{/forEach}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
<div id="newMeme" class="modal fade" role="dialog"></div>
<script type="text/javascript">
$(document).on('click', '#newMemeBtn', function(){
  $.ajax({
    url: "/meme/new_meme"
  }).done(function(dataHTML) {
    $('#newMeme').html(dataHTML);
  })
});
</script>
{{!-- {{#if memes}}
  {{#forEach memes}}
    <div class="col-sm-3 ordersCard" value="" data-toggle="modal" data-target="#orderDetails">
      <div class="panel panel-primary bootcards-media">
        <div class="panel-heading">
          <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
          <img src="{{image_url}}" class="img-responsive" style="max-width: 250px">
        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/forEach}}
{{/if}} --}}